@media (max-width: 768px){

    /* Show menu icon */
    .navbar{
        background-color: rgb(143, 143, 249);
    }
    .menu-icon{
        display: block;
        padding-right: 20px;
    }

    /* Hide menu */
    .nav-menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        width: 200px;
        background-color: white;
        padding: 0.5em;
        border-radius: 8px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.2);
        gap: 1em;
        margin: 0;
    }

    /* Vertical menu */
    .nav-links,
    .nav-actions{
        flex-direction: column;
        align-items: center;
        color: black;
    }

    .nav-links li{
        color: black;
    }

    /* Hover to show */
    .menu-icon:hover + .nav-menu{
        display: flex;
    }
}
