*{
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto;
    font-weight: 400;
}

/* ...........Navbar start........ */
#navbar{
    color: black;
    display: flex;
    justify-content: space-around;
    background-color: #00000033; 
    box-shadow: 0px 0px 20px 0px #0000001A;
    align-items: center;
    height: 10vh;
}

#navleft{
    display: flex;
    gap: 0.5em;
    align-items: center;
}
#navleft img{
    width: 20%;
}

.navc{
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
}
#navcenter{
    display: flex;
    gap: 0.5em;
    align-items: center;
}
#navcen1{
    display: flex;
    gap: 0.5em;
    align-items: center;
}
#navcen1 img{
    width: 5px;
    height: 7px;
}
.nav-cen  {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    gap: 1em;
}
#navright{
    display: flex;
    gap: 0.5em;
    align-items: center;
}
#navright button{
    background: #0066FF;
    border: none;
    height: 3em;
    border-radius: 3px;
    color: white;
}

.navicon{
    display: none;
}
/* ...........Navbar end........ */

 /* <!-- ...........Section1 start........  --> */
.section{
    height: 70vh;
    background-color: chartreuse;
    display: flex;
}

#sec1_left h1{
    font-weight: 900;
    background: #000000;

}
/* <!-- ...........Section1 end........  --> */