*{
    box-sizing: border-box;
    margin: 0;
}

/* ...........Navbar start........ */
#navbar{
    background-color: antiquewhite;
    color: black;
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    align-items: center;
}

#navleft{
    display: flex;
    gap: 0.5em;
}
#navleft img{
    width: 20%;
}

#navcenter{
    display: flex;
    gap: 1em;

}
#navcen1{
    display: flex;
    gap: 0.5em;
}
#navcen1 img{
    width: 5px;
    height: 7px;
}
#navcenter li{
    list-style: none;
}
/* ...........Navbar end........ */