*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #c6832b;
}

/* Left */
.nav-left h2{
    color: white;
}

/* Menu Icon (Hidden on Desktop) */
.menu-icon{
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
}

/* Menu */
.nav-menu{
    display: flex;
    align-items: center;
    gap: 2em;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 1.5em;
}

.nav-links li{
    cursor: pointer;
    color: white;
}

.nav-actions{
    display: flex;
    align-items: center;
    gap: 1em;
    color: white;
}

.nav-actions button{
    padding: 0.5em 1.2em;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
